.wrap-carousel-images
  background-color $white
  padding-block var(--section-padding)

.carousel-images
  padding-bottom 64px

  .swiper-button
    position absolute
    top auto
    right var(--grid-margin)
    bottom 0
    left auto

    &::after
      display none

    svg
      width 48px
      height auto
      fill $black

  .swiper-button-prev
    right calc(48px + var(--grid-margin))

  .swiper-slide
    aspect-ratio 0.8 / 1
    img
      fullAbs()
      fit()