.home-problem-solution
  background linear-gradient(to bottom, var(--bg-1) var(--bg-1-pos),  var(--bg-2) var(--bg-2-pos))

  .section
    top 0
    display grid
    height auto
    place-items center
    text-align center
    color var(--text)

    .title
      margin-bottom 0.5em
      font-serif()

    .text
      max-width 500px
      margin: 0 auto


  .section--1
    position: sticky
    height 100lvh


  .section--2
    padding 60lvh 0 0
    .title
      position relative

    .text
      margin-bottom 2em

    .text--xl
      margin-bottom 0.5em

    .earbud
      position absolute
      width 115px

    .earbud--l
      bottom 40%
      left 40%

    .earbud--r
      z-index -1
      top 60%
      left 55%


  .section--carousel
    display block
    padding 64px 0 120px
    position relative
    overflow: hidden


  .carousel
    width calc(100% + var(--container-padding) - var(--grid-margin))
    padding-bottom 64px

    .swiper-slide
      width 80%
      max-width 320px
      transition max-width 0.3s ease-out

      +mq(768)
        max-width 390px

      &:has(.card--opened)
        max-width: 750px
        .card__content
          .title
            margin-bottom 0.5em
          .text
            height max-content

        .card__action
          rotate 45deg

    .swiper-button
      position absolute
      top auto
      right var(--grid-margin)
      bottom 0
      left auto

      &::after
        display none

      svg
        width 48px
        height auto
        fill $white

    .swiper-button-prev
      right calc(48px + var(--grid-margin))

    .card
      position relative
      display flex
      flex-wrap wrap
      width 100%
      height 520px
      padding 24px
      border-radius 16px
      color $white
      background-color rgba($white, 0.2)
      interpolate-size allow-keywords
      overflow hidden

      +mq(768)
        padding 32px

      &:hover
        .card__bg
          img
            scale 1.1

        .card__content
          .title
            margin-bottom 0.5em


    .card__bg
      z-index 0

      &::after
        content ''
        fullAbs()
        background-color rgba(black, 0.3)
      img
        fullAbs()
        fit()
        transition scale 0.5s ease-out


    .card__index
      position relative
      flex 1 1 100%
      text-align left
      margin-bottom auto
      padding-left 16px

      &::before
        content: ''
        display block
        position absolute
        height 150%
        width 1px
        background-color $white
        left: 0
        top -24px

        +mq(768)
          top -32px

    .card__content
    .card__action
      position relative
      align-self flex-end

    .card__content
      flex 1
      text-align left

      .title
        margin-bottom 0
        max-width: 300px
        transition: margin 0.35s ease

      .text
        max-width none
        height 0
        overflow hidden
        transition: height 0.35s ease

    .card__action
      flex 0 0 47px
      background-color $white
      width 47px
      height @width
      border-radius 50%
      display grid
      place-items center
      cursor pointer
      transition: rotate 0.35s ease

      svg
        fill $black

