.hero__home
  display grid
  min-height 100lvh
  padding-block 30lvh 10lvh
  position relative
  background linear-gradient(60deg, $black 0%, #7e85a4 35%, #545f7d 60%, #656c89 75%, $black 100%);
  overflow: hidden

  .grid-line
    top 60%

  .hero-home__bg
    position absolute
    top 45%
    left 0
    z-index 1
    // height 70%
    width 90%
    aspect-ratio: 4 / 3
    object-fit cover
    object-position top right

    +mq(768)
      top auto
      bottom 0
      width 75%
      aspect-ratio: 16 / 9
    +mq(1400)
      aspect-ratio: 21 / 9
      bottom auto
      top 50%
    +mq(1800)
      top 40%

    img
      height 100%
      object-fit cover
      object-position top right
    // width 1200px

  .hero-home__content
    display flex
    flex-direction column
    justify-content space-between
    height 100%
    color $white

    .headline
      position relative

    h1
      text-align: center
      font-sans(300)

      span
        display block
        font-serif()

    .earbud
      position absolute
      width 60px

      +mq(768)
        width 120px

    .earbud--1
      top -40%
      left 35%

      +mq(450)
        top -50%

    .earbud--2
      top 100%
      left 50%

      +mq(450)
        top 80%

    .text
      color: $white
      z-index 1
      max-width: 550px
      margin: auto auto 1em
      text-align center

    .btn
      margin: 0 auto
      z-index 1
      background-color: #AAA8FF
