.hero__home
  display grid
  align-items: center
  min-height 100lvh

  .hero-home__content
    position relative
    padding: 15vh 0

  h1
    text-align: center
    font-size 72px
    font-sans()

    span
      display block
      font-serif()

  .earbud
    position absolute
    width 120px

  .earbud--1
    top 20%
    left 35%

  .earbud--2
    top 60%
    left 50%
