*
  padding 0
  margin 0
  box-sizing border-box

:root
  interpolate-size allow-keywords

// Admin styles
.shopify-design-mode
  [data-aos^=fade]
    &,
    [data-aos^=fade]
      opacity 1
      transform translateZ(0)


[data-aos^=fade]
  &,
  [data-aos^=fade]
    transform translate3d(0, 10px, 0)


body,
html
  height 100%
  margin 0
  padding 0
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  font-sans()


body[class*="overflow-hidden"]
  overflow hidden


[v-cloak]
  display none

.sr-only,
.visually-hidden
  position absolute !important
  overflow hidden
  width 1px
  height 1px
  margin -1px
  padding 0
  border 0
  clip rect(0 0 0 0)
  word-wrap normal !important

a
  color inherit
  text-decoration none
  cursor pointer

img
  display block
  height auto
  max-width 100%
  margin 0


.container
  width 100%
  max-width 2000px
  margin 0 auto
  padding 0 var(--container-padding)
  position relative


// Sections colors
.section--color-scheme-1
.section--color-scheme-2
  --bg-color $white
  --text-color $black

.section--color-scheme-3
  --bg-color $black_bg
  --overlay-color black
  --text-color $white

.section--color-scheme-4
  --bg-color $blue
  --text-color $white



// Transitions
.fade-enter-active,
.fade-leave-active
  transition opacity 0.25s ease

.fade-enter-from,
.fade-leave-to
  opacity 0


.slide-enter-active
  transition translate 0.15s ease

.slide-leave-active
  transition translate 0.25s ease

.slide-enter-from,
.slide-leave-to
  translate 0 -20px


.shopify-section
  position relative

  &::after
    content ''
    display block
    border-inline 1px solid $lavender
    position absolute
    top 0
    left var(--grid-margin)
    height 100%
    width calc(100% - (var(--grid-margin) * 2))
    pointer-events none
    opacity 0.3
    z-index 2

  .grid-line
    position absolute
    width 100%
    height 1px
    background-color $lavender
    left 0
    opacity 0.3

/* swiper default arrows */
.swiper-button
  height auto

  &::after
    display none

  svg
    fill $black
    width 14px

    +mq(576)
      width 24px

.swiper-button-prev
  left auto
  right 55%

.swiper-button-next
  left 55%